@{
    ViewBag.Title = "Home";
}


<div class="container">
    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <!--Search by ID-->
            <div class="form-group w-100">
                <h5 for="id">Personal Profile ID</h5>
                <input type="text" class="form-control" id="id" name="profilePersonalID">
            </div>
            <div class="row col">
                <!--Search-->
                <button type="submit" class="btn btn-outline-info m-auto w-25" id="Search"><i class="fa fa-search"></i> Search</button>
                <!--Create-->
                <a class="btn btn-outline-info m-auto w-25" id="Create" onclick="location.href='@Url.Action("Create","Home")'">
                    <i class="fa fa-plus-circle"></i> Create
                </a>
            </div>
        </div>
    }
</div>
